/*Custom stylesheet*/

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    position: fixed;
    outline: none;
}

header{
    background: url("../img/backgrounds/header.png") no-repeat center center;
    background-size: cover;
    height: 54px;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;  /* hack temp.. should be 100% w/ margin or padding to offset footer - originally 80%*/
    /* scrolling */
    /*  overflow-y: scroll; /* has to be scroll */
    /*  -webkit-overflow-scrolling: touch;*/
}

.hidden {
    display: none;
}
.visibilityNone {
    visibility: hidden;
}
.bold{
    font-weight: 700;
}

/*----------------------------------------------*/
/*------------------HOME VIEW-------------------*/
/*----------------------------------------------*/

#home-background{
    background: url("../img/splashscreen.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    min-height:620px;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}


/*----------------------------------------------*/
/*--------------MISSION PAGE VIEW---------------*/
/*----------------------------------------------*/

#mission-page, #mission-opinion-template, #recentView {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
    /*position: relative;*/
    background: url("../img/backgrounds/bg_img_dog_blurr.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#mission-page h1, #mission-explication h1 {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    margin-left: -38px;
}

#main {
    position: relative;
    overflow: auto;
    height: 415px;
}

#mission-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mission-list li {
    position: relative;
    height: 74px;
    line-height: 74px;
    font-size: 12px;
    margin-bottom: 2px;
    background:rgba(255,255,255,0.8);
    box-sizing: border-box;
}

#mission-list li:last-child {
    border-bottom: none;
}

#mission-list li #date {
    padding-bottom: 0;
}
#mission-list li #title {
    padding-top: 5px;
}

#mission-list li label {
    display: block;
    margin-left: 15px;
    line-height: 1.2;
}


.navigation {
    color: #FFF;
    text-align: center;
    background-color: #4d3267;
    line-height: 45px;
    font-size: 11px;
    position: relative;
    top: 33px;
    padding-top: 18px;
    z-index: 2;
}


.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    left: 0;
}

.filters li {
    display: inline-block;
    opacity: 0.8;
    width: 32%;
}

.filters li a {
    color: #FFF;
    text-decoration: none;
}


.filters li a.selected {
    border-bottom: 1px solid #FFF;
    padding-bottom: 4px;
}

.filters li:last-child {
    border-right: none;
}

#mission-page header{
    display: inline-block;
    text-align: center;
}

#ove-logo{
    background-color: #0000FF;
    display: inline-block;
}

#mission-date{
    color: #000;
    font-size: 12px;
    padding-bottom: 2px;
}

#mission-title{
    color: #492c66;
    font-weight: 700;
    font-size: 18px;
}

#sort{
    height: 34px;
    line-height: 34px;
    background:rgba(255,255,255,0.9);
    text-align: right;
    margin-top: 32px;
    box-shadow: 0 5px 15px #000000;
}
#sort span{
    font-weight: 300;
    font-size: 14px;
}
#sort select{
    background: none;
    border: 0;
    outline:none;
}
#sort #list{
    color: #492c66;
    font-weight: 700;
    font-size: 14px;
    padding-right: 7px;
    margin-right: 3px;
    padding-left: 9px;
}

#mission-list .view,{
    max-width: 170px;
}
#mission-list .view, #mission-list #mission-icons{
    display: inline-block;
    vertical-align: middle;
}
#mission-list #mission-icons{
    position: absolute;
    right: 0;
    margin-right: 70px;
}
#mission-list #mission-icons img{
    padding-left: 5px;
    vertical-align: middle;
    width: 20px;
}

#mission-share{
    width: 57px;
    height: 100%;
    float: right;
    text-align: center;
}
#mission-share img{
    width: 30px;
    text-align: center;
    vertical-align: middle;
}


/*Three genre of mission - light and dark*/
.game-light{
    border-left: 6px solid #c9603e;
}
.fun-light{
    border-left: 6px solid #983554;
}
.sensibility-light{
    border-left: 6px solid #2f5b7f;
}
.game-dark{
    background-color: #b98e80;
}
.fun-dark{
    background-color: #a8808d;
}
.sensibility-dark{
    background-color: #768a9b;
}

.share-background{
    background-image: linear-gradient(to right, transparent, rgba(73,44,102,0.8));
}


/*----------------------------------------------*/
/*-----------MISSION PROPOSITION VIEW-----------*/
/*----------------------------------------------*/

#mission-proposition{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
    background: url("../img/backgrounds/bg_img_dog_blurr.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: #FFF;
}

#mission-proposition header{
    margin-top: 30px;
    height: 124px;
    width: 100%;
    background:rgba(184,77,43,0.9); /*#b84d2b*/
    opacity: 0.9;
    text-align: center;
}

#mission-proposition h2{
    font-weight: 300;
    font-size: 19px;
    margin: 0;
    padding-top: 22px;
}
#mission-proposition h1{
    font-size: 41px;
    margin: 0;
    padding-top: 5px;
}

#mission-proposition footer, #mission-explication footer{
    width: 100%;
    padding-top: 66px;
}
.buttonContainer{
    position: absolute;
    width: 100%;    
}
.button{
    width: 48%;
    height: 43px;
    background: rgba(70,43,96,1);
    text-align: center;
    font-size: 18px;
    line-height: 43px;
    vertical-align: middle;
    cursor: pointer;
    color: #FFF;
    position: relative;
    margin: auto;
    z-index: 2;
}
.button a{
    color: #FFF;
    text-decoration: none;
}
.buttonRotate{
    width: 182px;
    height: 43px;
    margin: auto;
    background: rgba(70,43,96,0.6);
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
    z-index:0;
}
.buttonPart2{
    margin-top: 57px;
    font-size: 14px;
}
.backPart2{
    min-width: 155px;
    width: 155px;
}

#mission-proposition .accept{
    float: right;
}
#mission-explication footer{
    text-align: center;
}


.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*----------------------------------------------*/
/*--------------MISSION RECENT VIEW-------------*/
/*----------------------------------------------*/

#recent{
    margin-top: 30px;
}
#recent .timeContent{
    padding-top: 21px;
}
#recentView .background{
    background: url("../img/backgrounds/bg_mission-recente-bleu.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}
#recentContent{
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
}
#recentContent h1{
    margin-left: -6px;
    margin-top: 40px;
}
#recentContent .tips{  
    width: 117px;
    margin: auto;
}
#recentContent .time{
    margin-top: 114px;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
}
#recentContent .timeText{
    font-weight: 300;
    margin-top: 5px;
}
#recentView footer{
    width: 100%;
}
#recentView .delete{
    width: 120px;
}

/*----------------------------------------------*/
/*-----------MISSION EXPLICATION VIEW-----------*/
/*----------------------------------------------*/

#mission-explication{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
    overflow: hidden;
    color: #FFF;

    background: url("../img/backgrounds/bg_ombre.png") no-repeat center center;
    background-size: cover;
    text-align: center;
}

#mission-explication header,
#mission-opinion header h1{
    text-align: center;
    z-index: 10;
}

#mission-explication header h1,
#mission-opinion header h1,
#mission-page header h1{
    margin-left: 0;
    color: #086294;
    letter-spacing: 3px;
}

#mission-explication .explication,
#mission-explication .actual{
    min-height:620px;
    height: 100%;
    margin-top: 66px;
}

#mission-explication .explication .background{
    background: url("../img/backgrounds/bg_mission-explication-bleu.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    min-height:620px;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}
#mission-explication .actual .background{
    background: url("../img/backgrounds/bg_mission-action-bleu.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}

#explicationView{
    position: relative;
}

#explicationView h1{
    font-size: 26px;
    text-align: center;
    width: 161px;
    padding-top: 73px;
    margin: auto;
    display: block;
}
#explicationView .tips{
    width: 143px;
    font-size: 14px;
    margin: auto;
    padding-top: 13px;
}
#explicationView .description{
    padding-top: 48px;
    width: 260px;
    font-style: italic;
    margin: auto;
}
#explicationView .description p:first-child{
    font-weight: 700;
    margin-bottom: 0;
}
#explicationView .description p:last-child{
    font-weight: 300;
    margin-top: 0;
}

#actualView{
    position: relative;
}


#googleMap{
    width: 100%;
    height: 86%;
    margin-top: 34px;
}

#begin{
    min-width: 185px;
}

#takePicture{
    width: 175px;
    height: 175px;
    margin: auto;
    padding-top: 102px;
    padding-left: 7px;
}
#takePicture .picto{
    width: 70px;
    padding-top: 27px;
}
#takePicture p{
    width: 95px;
    margin: auto;
    font-size: 14px;
}
#totalPicture{
    color: #086294;
    font-size: 30px;
    font-weight: 700;
    padding-top: 15px;
}
#buttonsMap{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 114px;
}
#buttonsMap .button{
    display: block;
    margin: auto;
}
#buttonsMap .finish{
    width: 190px;
    margin-bottom: 10px;
}
#buttonsMap .resume{
    width: 155px;
    height: 38px;
    line-height: 38px;
}

.popupUploadOk{
    width: 100%;
    color: #fff;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: -50px;
}
.popupUploadOk p{
    margin: auto;
    width: 189px;
    padding: 8px;
    background-color: #4d3267;
}


/*----------------------------------------------*/
/*------------------GOOGLE MAP------------------*/
/*----------------------------------------------*/

#infoWindow{
    color: #000;
}
#googleMap .gm-style-iw > div > div{
    overflow:hidden!important;
}

/*----------------------------------------------*/
/*---------------IMAGE SELECTION----------------*/
/*----------------------------------------------*/

#image-selection {
    background: url("../img/backgrounds/bg_img_dog_blurr.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    min-height: 620px;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}
#image-selection .title{
    position: relative;
    padding-top: 63px;
    color: #FFF;
    width: 100%;
}
#image-selection .title p{
    font-weight: 300;
    font-size: 14px;
    width: 224px;
    margin: auto;
}

#image-selection .background{
    background: url("../img/backgrounds/bg_mission-choix-partage-bleu.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}
#image-selection .top{
    background: url("../img/backgrounds/bg_mission-choix-partage-bleu-haut.png") no-repeat center center;
    background-size: cover;
    height: 160px;
    position: absolute;
    width: 100%;
}
#image-selection .bottom{
    background: url("../img/backgrounds/bg_mission-choix-partage-bleu-bas.png") no-repeat center center;
    background-size: cover;
    height: 237px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#image-selection header h1 {
    color: #086294;
    font-size: 26px;
    padding-top: 0;
    margin-top: 8px;
    letter-spacing: 3px;
}

.buttonsSelection{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 128px;
}
.buttonsSelection .button{
    display: block;
    margin: auto;
}
.buttonsSelection .send{
    width: 190px;
    margin-bottom: 10px;
}
.buttonsSelection .cancel{
    width: 155px;
    height: 38px;
    line-height: 38px;
}

#gallery{
    padding-top: 24px;
    height: 260px;
    z-index: -1;
    position: relative;
    margin-left: -6px;
}
#gallery div{
    /*width: 150px;*/
    height: 150px;
    margin-left: 3px;
    position: relative;
    margin-bottom: 10px;
}
#gallery div img{
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
}
#gallery div .backColor{
    background-color: #462B60;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    margin-left: 0;
}

/*----------------------------------------------*/
/*----------------MISSION OPINION---------------*/
/*----------------------------------------------*/

#mission-opinion{
    background: url("../img/backgrounds/bg_mission-empechement-avis-bleu.png") no-repeat center center;
    background-size: cover;
    text-align: center;
    min-height: 620px;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}
#mission-opinion header h1{
    font-size: 26px;
    padding-top: 10px;
    margin: auto;
    font-weight: 400;
}
#mission-opinion .title{
    padding-top: 44px;
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    width: 100%;
    margin: auto;
}
#mission-opinion .title p{
    margin-bottom: -15px;
}
#mission-opinion .completion{
    width: 180px;
}
#mission-opinion .description{
    width: 100%;
    margin-top: -25px;
}
#mission-opinion .description p{
    width: 214px;
    margin: auto;
}
#mission-opinion .opinionText,
#mission-opinion .shareTitle{
    font-size: 22px;
    font-weight: 400;
    color: #FFF;
    padding-top: 63px;
}
#mission-opinion .shareText{
    color: #fff;
    width: 272px;
    margin: auto;    
    margin-top: 20px;
}

#opinionBar{
    padding-top: 20px;
}
#opinionBar .barImg{
    width: 248px;
}
#opinionBar .label1, #opinionBar .label2,
#opinionBar .label3, #opinionBar .label4,
#opinionBar .label5{
    color: #492C66;
    font-weight: 700;
}
#contentBar{
    margin-bottom: -37px;
}
#opinionBar .pos{
    display: inline-block;
    position: relative;
    padding: 0 14px 0 14px;
}

#opinionBar .pos img{
    width: 28px;
}

#mission-opinion .button{
    height: 38px;
    line-height: 38px;
}
#mission-opinion .buttonsSelection{
    padding-bottom: 135px;
}
.buttonsSelection .valid,
.buttonsSelection .share{
    width: 190px;
    margin-bottom: 10px;
}
.buttonsSelection .pass{
    width: 155px;
    height: 38px;
    line-height: 38px;
}

.buttonPart2 div, .buttonPart2 a{
    font-size: 14px;
}

/*----------------------------------------------*/
/*------------------PANEL MENU------------------*/
/*----------------------------------------------*/

.left-menu{
    width: 36px;
    height: 33px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.pageContent{
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.slide-menu-left {
    position: fixed;
    z-index: 20;
    background:rgba(58,40,77,0.9);
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.slide-menu-left ul {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 0;
    font-size: 20px;
}
nav.slide-menu-left {
    font-weight: 300;
    color: #fff;
}

nav.slide-menu-left {
    top: 0px; /*put this dynamically ?*/
    width: 84%;
    height: 100%;
}
nav.slide-menu-left li {
    display: block;
    text-align: left;
    margin-left: 38px;
    margin-bottom: 28px;
    cursor: pointer;
}
nav.slide-menu-left li:first-child {
    border-top: none;
}
nav.slide-menu-left li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
nav.slide-menu-left a {
    text-decoration: none;
    color: #FFF;
}
nav.slide-menu-left {
    left: -84%;
}
.pageContent.sml-open nav.slide-menu-left {
    left: 0; /*push the page to the right - 0px to do nothing*/
}
.sml-open{
    left: 84%;
}



/*----------------------------------------------*/
/*-------------HAMBURGER ANIMATION--------------*/
/*----------------------------------------------*/

.nav-icon3{
    width: 30px;
    height: 45px;
    position: relative;
    margin: 10px 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-right: -45px;
}

.nav-icon3 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #452464;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon3 span:nth-child(1) {
    top: 0px;
}
.nav-icon3 span:nth-child(2),.nav-icon3 span:nth-child(3) {
    top: 9px;
}
.nav-icon3 span:nth-child(4) {
    top: 18px;
}
.nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/*----------------------------------------------*/
/*-----ALL ANIMATIONS FOR PAGE TRANSITIONS------*/
/*----------------------------------------------*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes iosFadeLeft {
    0%  {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0.9;
    }
}

@keyframes iosFadeLeft {
    0%  {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0.8;
    }
}

.iosFadeLeft {
    -webkit-animation-name: iosFadeLeft;
    animation-name: iosFadeLeft;
    -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}


@-webkit-keyframes iosSlideInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes iosSlideInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.iosSlideInRight {
    -webkit-animation-name: iosSlideInRight;
    animation-name: iosSlideInRight;
    -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    animation-timing-function: cubic-bezier(.1, .7, .1, 1);
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
}

@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}