/*Custom stylesheet*/

html, body{
    height: 100%;
}

.hidden {
    display: none;
}

#ove-app {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 100%;
    position: relative;
    background: url("../img/backgrounds/bg_img_dog_blurr.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#ove-app h1 {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFF;
}

#main {
    position: relative;
    overflow: auto;
    height: 415px;
}

#mission-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mission-list li {
    position: relative;
    height: 74px;
    line-height: 74px;
    font-size: 12px;
    margin-bottom: 2px;
    background-color: #ababab;
    background:rgba(255,255,255,0.6);
    box-sizing: border-box;
    border-right: 6px solid #2f5b7f;
}

#mission-list li:last-child {
    border-bottom: none;
}

#mission-list li #date {
    padding-bottom: 0;
}
#mission-list li #title {
    padding-top: 5px;
}

#mission-list li label {
    display: block;
    margin-left: 15px;
    line-height: 1.2;
}

/*to remove*/
#mission-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}


#navigation {
    color: #FFF;
    text-align: center;
    background-color: #4d3267;
    opacity: 0.9;
    height: 46px;
    line-height: 45px;
    font-size: 11px;
}


#filters {
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    left: 0;
}

#filters li {
    display: inline-block;
    border-right: 1px solid #654e7c;
    opacity: 0.8;
    width: 32%;
}

#filters li a {
    color: #FFF;
    text-decoration: none;
}


#filters li a.selected {
    border-bottom: 1px solid #FFF;
    padding-bottom: 4px;
}

#filters li:last-child {
    border-right: none;
}

#ove-app header{
    height: 42px;
    width: 100%;
    background-color: #cd522a;
    opacity: 0.9;
    display: inline-block;
}

#left-menu{
    background-color: #0000FF;
}
#ove-logo{
    background-color: #0000FF;
}

#mission-date{
    color: #000;
    font-size: 12px;
    padding-bottom: 2px;
}

#mission-title{
    color: #492c66;
    font-weight: 700;
    font-size: 18px;
}

#sort{
    height: 38px;
    line-height: 38px;
    background-color: #878787;
    background:rgba(255,255,255,0.3);
    text-align: right;
}
#sort span{
    font-weight: 300;
    font-size: 14px;
}
#sort select{
    background: none;
    border: 0;
    outline:none;
}
#sort #list{
    color: #492c66;
    font-weight: 700;
    font-size: 14px;
    padding-right: 7px;
    margin-right: 3px;
    padding-left: 9px;
}

#mission-list .view, #mission-list #mission-icons{
    display: inline-block;
    vertical-align: middle;
}
#mission-list #mission-icons{
    margin-left: 45px;
}
#mission-list #mission-icons img{
    padding-left: 5px;
    vertical-align: middle;
}