<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=320"> <!-- or device-width-->

		<title>OVE Project</title>
		<link rel="stylesheet" href="css/master.css">
		<link rel="stylesheet" href="css/normalise.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/slick.css">
		<link rel="stylesheet" href="css/slick-theme.css">

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<script src="http://maps.googleapis.com/maps/api/js"></script>

	</head>
	<body class="no-select">
	<script type="text/template" name="home">
		<h1>Home</h1>
		<p><a href="#/missionPage">Detail &rarr;</a></p>
	</script>

	<script type="text/template" id="mission-page" name="mission-page">
			<header>
				<div id="left-menu" class="hamburger"></div>
				<h1 id="title">MISSIONS</h1>
				<div id="ove-logo"></div>
			</header>
			
			<section class="page-body">
			
				<section class="navigation"></section>

				<div id="sort">
					<span>Afficher par :</span>
					<select name="list" id="list">
						<option>DATE</option>
						<option>NOM</option>
					</select>
				</div>
				<!--
				<input id="new-mission" placeholder="Add mission" autofocus>
				-->
				<section id="main">
					<ul id="mission-list"></ul>
				</section>
			</section>
	</script>
	
	<script type="text/template" id="item-template">
		<div class="item-content">
			<div class="view">
				<label id="mission-date">fin <%- date %></label>
				<label id="mission-title"><%- title %></label>
			</div>
			<ul id="mission-icons"></ul>
			<div id="mission-share">
				<img src="img/share.png"/>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="mission-nav-list">
		<ul class="filters">
			<li>
				<a href="#/filterMissions/completed">PASSÉES</a>
			</li>
			<li>
				<a class="selected" href="#/">ACTUALITÉS</a> <!--(all)-->
			</li>
			<li>
				<a href="#/filterMissions/active">EN COURS</a>
			</li>
		</ul>
	</script>
	
	<script type="text/template" id="explication-nav">
		<ul class="filters">
			<li>
				<a href="#/filterDetails/explication">EXPLICATION</a>
			</li>
			<li>
				<a class="selected" href="#/filterDetails/mission">MISSION</a>
			</li>
			<li>
				<a href="#/filterDetails/terminate">TERMINER</a>
			</li>
		</ul>
	</script>

	<script type="text/template" id="mission-proposition" name="mission-proposition">
		<header class="header">
			<h2 class="title">NOUVELLE MISSION</h2>
			<h1 class="mission-title">ombres</h1>
		</header>
		
		
		<footer>
			<div class="button">REFUSER</div>
			<div class="button accept">ACCEPTER</div>
		</footer>
	</script>

	<script type="text/template" id="mission-explication" name="mission-explication">
		<header>
			<h1>OMBRES</h1>
		</header>

		<section class="navigation"></section>
		
		<div class="body" style="width:100%;height:100%">
			<div class="explication"></div>
			<div class="camera hidden">Appareil photo</div>
			<div id="googleMap"></div>
		</div>
		<!--to remove later-->
		<footer>
			<div class="begin button">take picture</div>
		</footer>
	</script>

	<script type="text/template" id="missionExplication-template">
		<div class="view">
			missionExplication-template
		</div>
	</script>	

	

	<script type="text/template" id="menu-template" name="menu-template">
		<nav id="panel-menu" class="slide-menu-left">
			<ul>
				<li><a href="#/missionPage">MISSION</a></li>
				<li>PROFIL</li>
				<li>AIDE</li>
				<li>À PROPOS</li>
				<li>PARAMÈTRES</li>
			</ul>
		</nav>
	</script>

		<script src="js/vendor/json2-min.js"></script>
		<script src="js/vendor/jquery-2.1.4.js"></script>
		<script src="js/vendor/underscore-min.js"></script>
		<script src="js/vendor/backbone-min.js"></script>
		<script src="js/vendor/backbone.localStorage-min.js"></script>
		<script src="js/vendor/handlebars-v3.0.3.js"></script>
	
		<script src="js/vendor/owl.carousel.min.js"></script>
		<script src="js/vendor/slick.min.js"></script>

		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="js/vendor/backbonefire.min.js"></script>


		<script src="js/scripts/googleMap.js"></script>


		<script src="js/app.js"></script>
		<script src="js/models/mission.js"></script>
		<script src="js/models/map.js"></script>
	
		<script src="js/collections/missions.js"></script>
		<script src="js/collections/maps.js"></script>
	
		<script src="js/extensions/view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/views/home-view.js"></script>
		<script src="js/views/mission-view.js"></script>
		<script src="js/views/mission-page-view.js"></script>
		<script src="js/views/mission-proposition-view.js"></script>
		<script src="js/views/mission-explication-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app2.js"></script>

	</body>
</html>
