<!doctype html>
<html lang="en" data-framework="backbonejs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=320"> <!-- or device-width-->

	<title>OVE Project</title>
	<link rel="stylesheet" href="css/master.css">
	<link rel="stylesheet" href="css/normalise.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<script src="http://maps.googleapis.com/maps/api/js"></script>

	<script src="cordova.js" type="text/javascript"></script>

</head>
<body class="no-select">
<script type="text/template" name="home">
	<div id="home-background"></div>
</script>

<script type="text/template" id="mission-page" name="mission-page">
	<div id="new-mission"></div>
	<div class="pageContent">
		<header>
			<div class="left-menu nav-icon3">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<h1 id="title">MISSIONS</h1>
			<div id="ove-logo"></div>
		</header>

		<section class="page-body">

			<section class="navigation"></section>

			<div id="sort">
				<span>Afficher par :</span>
				<select name="list" id="list">
					<option>DATE</option>
					<option>NOM</option>
				</select>
			</div>
			<!--
			<input id="new-mission" placeholder="Add mission" autofocus>
			-->
			<section id="main" class="hidden">
				<ul id="mission-list"></ul>
			</section>
			<section id="recent" class="hidden"></section>
		</section>
				
	</div>
</script>


<script type="text/template" id="missionRecent" name="missionRecent">
	<div id="recentView">
		<div class="background"></div>
		<div id="recentContent">
			<h1>OMBRES</h1>
			<div class="tips">"elles vous suivent partout"</div>

			<div class="timeContent">
				<p class="time">
					14:58
				</p>
				<p class="timeText">
					TEMPS RESTANT POUR ACCEPTER
				</p>
			</div>

			<footer>
				<div class="buttonContainer">
					<div id="accept" class="button">ACCEPTER</div>
				</div>
				<div class="buttonContainer">
					<div class="buttonRotate"></div>
				</div>
				<div class="buttonContainer buttonPart2">
					<div id="delete" class="button">
						<a href="#">SUPPRIMER</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</script>


<script type="text/template" id="item-template">
	<div class="item-content">
		<div class="view">
			<label id="mission-date">fin <%- date %></label>
			<label id="mission-title"><%- title %></label>
		</div>
		<ul id="mission-icons"></ul>
		<div id="mission-share">
			<img src="img/share.png"/>
		</div>
	</div>
</script>

<script type="text/template" id="mission-nav-list">
	<ul class="filters">
		<li>
			<a class="1" href="#/filterMissions/completed">PASSÉES</a>
		</li>
		<li>
			<a class="2 selected" href="#/filterMissions/actual">RÉCENTES</a> <!--(all)-->
		</li>
		<li>
			<a class="3" href="#/filterMissions/active">EN COURS</a>
		</li>
	</ul>
</script>

<script type="text/template" id="explication-nav">
	<ul class="filters">
		<li>
			<a class="1 selected" href="#/filterDetails/explication">EXPLICATION</a>
		</li>
		<li>
			<a class="2" href="#/filterDetails/mission">MISSION</a>
		</li>
		<li>
			<a class="3" href="#/filterDetails/terminate">TERMINER</a>
		</li>
	</ul>
</script>

<script type="text/template" id="mission-proposition" name="mission-proposition">
	<header class="header">
		<div class="left-menu nav-icon3">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<h2 class="title">NOUVELLE MISSION</h2>
		<h1 class="mission-title">ombres</h1>
	</header>


	<footer>
		<div class="button">REFUSER</div>
		<div class="button accept">ACCEPTER</div>
	</footer>
</script>

<script type="text/template" id="mission-explication" name="mission-explication">
		<div class="pageContent" style="width:100%;min-height:620px;height:100%">
			<header>
				<div class="left-menu nav-icon3">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<h1>OMBRES</h1>
			</header>

			<section class="navigation"></section>
			<div class="explication"></div>
			<div class="actual camera hidden"></div>
			<div id="googleMap"></div>
			<div id="buttonsMap" class="hidden">
				<div class="buttonContainer">
					<div class="finish button">FINIR</div>
				</div>
				<div class="buttonContainer">
					<div class="buttonRotate"></div>
				</div>

				<div class="buttonContainer buttonPart2">
					<div class="resume button">
						<a href="#/filterDetails/mission">REPRENDRE</a>
					</div>
				</div>
			</div>
		</div>

</script>

<script type="text/template" id="missionExplication-template">
	<div class="background"></div>
	<div id="explicationView">
		<h1>capture les belles ombres</h1>
		<div class="tips">3 photos minimum pour valider la mission</div>

		<div class="description">
			<p>
				Le soleil tape aujourd'hui, <br/>les ombres sont de sortie.
			</p>
			<p>
				L'occasion de faire quelques beaux <br/>clichés avant
				qu'elles ne disparaissent.
			</p>
		</div>

		<footer>
			<div class="buttonContainer">
				<div id="begin" class="button">
					<a href="#/filterDetails/mission">COMMENCER</a>
				</div>
			</div>
			<div class="buttonContainer">
				<div class="buttonRotate"></div>
			</div>
		</footer>
	</div>
</script>

<script type="text/template" id="missionActual-template">
	<div class="background"></div>
	<div id="actualView">
		<div id="takePicture">
			<img class="picto" src="img/picto_camera_action.png"/>
			<p>PRENDRE UNE PHOTO</p>
		</div>

		<div id="totalPicture"></div>
	</div>
	<div class="popupUploadOk"><p>Image et positions enregistrées !</p></div>
</script>

<script type="text/template" id="image-selection-template" name="image-selection-template">
	<div id="image-selection">
		<div class="pageContent">
			<div class="top"></div>
			<div class="bottom"></div>
			<header>
				<div class="left-menu nav-icon3">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<h1>OMBRES</h1>
			</header>
			<div class="title">
				<p>SÉLECTIONNE LES PHOTOS QUE TU SOUHAITES PARTAGER</p>
			</div>

			<div id="gallery"></div>

			<div class="buttonsSelection" style="padding-bottom: 116px;">
				<div class="buttonContainer">
					<div class="send button">ENVOYER</div>
				</div>
				<div class="buttonContainer">
					<div class="buttonRotate"></div>
				</div>

				<div class="buttonContainer buttonPart2">
					<div class="cancel button">ANNULER</div>
				</div>
			
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="mission-opinion-template" name="mission-opinion-template">
	<div class="pageContent">
		<div id="mission-opinion">
			<header>
				<div class="left-menu nav-icon3">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<h1>OMBRES</h1>
			</header>
			<div class="title">
				<p>MISSION COMPLÉTÉE</p>
			</div>
	
			<img class="completion" src="img/mission-avis-ombre-completion.png">
	
			<div class="description">
				<p>
					Es-tu du genre à deviner à quel objet correspond une ombre ?
				</p>
			</div>
	
			<div class="bottom-opinion">
				<div class="opinionText">TON AVIS</div>
				
				<div id="opinionBar">
					<!--it's crap, but no time-->
					<div id="contentBar">
						<div id="1" class="pos">
							<img class="visibilityNone" src="img/mission-opinion/mission-avis-selectCircle.png">
						</div>
						<div id="2" class="pos">
							<img class="visibilityNone" src="img/mission-opinion/mission-avis-selectCircle.png">
						</div>
						<div id="3" class="pos">
							<img src="img/mission-opinion/mission-avis-selectCircle.png">
						</div>
						<div id="4" class="pos">
							<img class="visibilityNone" src="img/mission-opinion/mission-avis-selectCircle.png">
						</div>
						<div id="5" class="pos">
							<img class="visibilityNone" src="img/mission-opinion/mission-avis-selectCircle.png">
						</div>
					</div>
						<img class="barImg" src="img/mission-opinion/mission-avis-selectbar-bleu.png">
					
					<p class="label1 hidden">je n'ai pas aimé</p>
					<p class="label2 hidden">franchement... bof.</p>
					<p class="label3">passable</p>
					<p class="label4 hidden">plutôt bien</p>
					<p class="label5 hidden">génial !</p>
				</div>
				
				<div class="buttonsSelection">
					<div class="buttonContainer">
						<div class="valid button">VALIDER</div>
					</div>
					<div class="buttonContainer">
						<div class="buttonRotate"></div>
					</div>
	
					<div class="buttonContainer buttonPart2">
						<div class="pass button">PASSER</div>
					</div>
				</div>
			</div>

			<div class="bottom-share hidden">
				<div class="shareTitle">TA COLLECTE</div>
				
				<div class="shareText">
					<span class="bold">Partage ta perception des ombres sur le site
					collaboratif,</span> en selectionnant les captures que tu
					souhaites envoyer !
				</div>

				<div class="buttonsSelection">
					<div class="buttonContainer">
						<div class="share button">PARTAGER</div>
					</div>
					<div class="buttonContainer">
						<div class="buttonRotate"></div>
					</div>

					<div class="buttonContainer buttonPart2">
						<div class="pass button">PASSER</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>


<script type="text/template" id="menu-template" name="menu-template">
	<nav id="panel-menu" class="slide-menu-left">
		<ul>
			<li>PROFIL</li>
			<li><a href="#/missionPage">MISSIONS</a></li>
			<li>À PROPOS</li>
			<li>PARAMÈTRES</li>
		</ul>
	</nav>
</script>


<script src="js/vendor/json2-min.js"></script>
<script src="js/vendor/jquery-2.1.4.js"></script>
<script src="js/vendor/underscore-min.js"></script>
<script src="js/vendor/backbone-min.js"></script>
<script src="js/vendor/backbone.localStorage-min.js"></script>
<script src="js/vendor/handlebars-v3.0.3.js"></script>

<script src="js/vendor/slick.min.js"></script>
<script src="js/vendor/jquery.touchSwipe.min.js"></script>
<script src="js/vendor/TweenMax.min.js"></script>
<script src="js/vendor/TimelineMax.min.js"></script>


<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- backbonfire used to link backbone and firebase-->
<script src="js/vendor/backbonefire.min.js"></script>


<script src="js/scripts/googleMap.js"></script>
<script src="js/scripts/camera.js"></script>


<script src="js/app.js"></script>

<!--MODELS-->
<script src="js/models/mission.js"></script>
<script src="js/models/map.js"></script>
<script src="js/models/picture.js"></script>

<!--COLLECTIONS-->
<script src="js/collections/missions.js"></script>
<script src="js/collections/maps.js"></script>
<script src="js/collections/pictures.js"></script>

<!--EXTENSIONS-->
<script src="js/extensions/view.js"></script>

<!--VIEWS-->
<script src="js/views/app-view.js"></script>
<script src="js/views/home-view.js"></script>
<script src="js/views/mission-view.js"></script>
<script src="js/views/mission-page-view.js"></script>
<script src="js/views/mission-proposition-view.js"></script>
<script src="js/views/mission-explication-view.js"></script>
<script src="js/views/image-selection-view.js"></script>
<script src="js/views/mission-opinion-view.js"></script>

<!--ROUTERS-->
<script src="js/routers/router.js"></script>


<script src="js/app2.js"></script>

</body>
</html>
